[submodule "tooth_morphology"]
	path = tooth_morphology
	url = https://github.com/hx-w/tooth_morphology
[submodule "cnpy"]
	path = cnpy
	url = https://github.com/rogersce/cnpy.git
[submodule "mesh_to_sdf"]
	path = mesh_to_sdf
	url = https://github.com/marian42/mesh_to_sdf.git
